.pin {
    margin: 100px auto 0;
    width: 200px;
}

.display {
    border: 1px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
    position: relative;
}

.row {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.num {
    width: 60px;
    height: 30px;
    display: block;
}

.message {
    position: absolute;
    top: -5%;
    right: 21%;
    background: white;
}